<div class="table-responsive container-fluid">
    <h4>Current Work Orders</h4>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <!-- Insert Headers here  -->
                <th scope="col">#</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
            </tr>
        </thead>
        <tbody>
        <!-- insert data into here when you get it -->
            <tr routerLink="/workorder">
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
            </tr>
            
        </tbody>
    </table>
</div>