<form class="needs-validation" novalidate="">
    <div class="row g-3">

        <div class="col-sm-6">
            <label for="customer" class="form-label">Vin</label>
           <select id="customer" name="customer" class="form-control" [formControl]="customer" (click)="getCustomer()" >
                <option>Select a customer</option>
                <option *ngFor="let customer of customers">{{customer.id}} {{customer.firstName}} {{customer.lastName}}</option>
           </select>
            <div class="invalid-feedback">
                Valid  Customer is required.
            </div>
        </div>

        
        <div class="col-sm-6">
            <label for="vin" class="form-label">Vin</label>
            <input type="text" class="form-control" id="vin" placeholder="" value="" required=""
            [formControl]="vin"
            >
            <div class="invalid-feedback">
                Valid  vin is required.
            </div>
        </div>

        <div class="col-sm-6">
            <label for="make" class="form-label">Make</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" 
            [formControl]="make"
            >
            <div class="invalid-feedback">
                Valid make is required.
            </div>
        </div>

        <div class="col-sm-6">
            <label for="model" class="form-label">Model</label>
            <input type="text" class="form-control" id="model" placeholder="" value="" required=""
            [formControl]="model"
            >
            <div class="invalid-feedback">
                Valid model name is required.
            </div>
        </div>
        <div class="col-sm-6">
            <label for="year" class="form-label">Year</label>
            <input type="text" class="form-control" id="year" placeholder="" value="" required="" 
            [formControl]="year"
            >
            <div class="invalid-feedback">

                Valid year name is required.
            </div>
        </div>

        <div class="col-sm-6">
            <label for="mileage" class="form-label">Mileage</label>
            <input type="text" class="form-control" id="mileage" placeholder="" value="" required="" 
            [formControl]="mileage"
            >
            <div class="invalid-feedback">
                Valid year Mileage is required.
            </div>
        </div>

      
        <!-- Add an option to add a vehcle with the customer -->
        
    </div>
    <hr class="my-4">
    <button class="w-100 btn btn-success btn-lg"
    (click)="addVehicle()"
       >Add Vehicle</button>
</form> 