<div class="row justify-content-center">
    <div class="col-6 text-center ">
        <h4 class="mb-3 text-danger">Add Customer</h4>
        <form class="needs-validation" novalidate="">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label text-danger">First name</label>
                    <input type="text" class="form-control bg-dark text-danger" id="firstName" placeholder="" value="" required=""
                        [formControl]="firstName">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label text-danger">Last name</label>
                    <input type="text" class="form-control bg-dark text-danger" id="lastName" placeholder="" value="" required=""
                        [formControl]="lastName">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="phoneNumber" class="form-label text-danger">Phone Number</label>
                    <input type="text" class="form-control text-danger bg-dark" id="lastName" placeholder="" value="" required=""
                        [formControl]="phoneNumber">
                    <div class="invalid-feedback">
                        Valid phone number name is required.
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="email" class="form-label text-danger">Email</label>
                    <input type="text" class="form-control text-danger bg-dark" id="lastName" placeholder="" value="" required=""
                        [formControl]="email">
                    <div class="invalid-feedback">
                        Valid email name is required.
                    </div>
                </div>

                <!-- Add an option to add a vehcle with the customer -->

            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-danger text-dark btn-lg" (click)="addCustomer()" routerLink="/addVehicle">Add Customer</button>
        </form>
        <hr class="my-4">

        <!-- <button class="w-100 btn btn-danger btn-lg" 
            (click)="addVehicleBool()"
        >Add Vehicle</button>
        <app-add-vehicle *ngIf="addVehicle" ></app-add-vehicle> -->
    </div>
</div>