<div class="row justify-content-center">
    <div class="col-6 text-center ">
        <h4 class="mb-3">Add Customer</h4>
        <form class="needs-validation" novalidate="">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required=""
                    [formControl]="firstName">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" [formControl]="lastName">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required=""
                    [formControl]="phoneNumber">
                    <div class="invalid-feedback">
                        Valid phone number name is required.
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" [formControl]="email">
                    <div class="invalid-feedback">
                        Valid email name is required.
                    </div>
                </div>
              
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg"
                (click)="addCustomer()">Add Customer</button>
        </form>

    </div>
</div>