<h2 class="text-danger">Login Page</h2>

<div>
  <label class="text-danger"for="username">User Name: </label>
  <input class="text-danger" id="username" #userName />
  <br/>
  <label class ="text-danger"for="password">Password: </label>
  <input class="text-danger" id="password" #password />
  <br/>
  <!-- (click) passes input value to add() and then clears the input -->
  <button class="btn btn-danger text-dark add-button" (click)="getLogin(userName.value, password.value); userName.value=''; password.value=''">
    Login
  </button>
</div>
