<app-cards></app-cards>
<div class="table-responsive container-fluid">
    <h4 class="text-danger">Completed Work Orders</h4>
    <app-table list="completed"></app-table>
    <!-- <table class="table table-striped table-sm ">
        <thead class="text-center">
            <tr>
                <th class="text-danger" scope="col">ID</th>
                <th class="text-danger" scope="col">Customer Name</th>
                <th class="text-danger" scope="col">Start Date</th>
                <th class="text-danger" scope="col">Vehicle ID</th>
                <th class="text-danger" scope="col">Total Cost</th>
            </tr>
        </thead>

        
        <tbody class="text-center">
            <tr *ngFor="let workOrder of workOrders" routerLink="/viewOrder/{{workOrder.id}}">
                <td class="text-danger">{{workOrder.id}}</td>
                <td class="text-danger">{{workOrder.vehicleId.customerId.firstName}} {{workOrder.vehicleId.customerId.lastName}}</td>
                <td class="text-danger">{{workOrder.date}}</td>
                <td class="text-danger">{{workOrder.vehicleId.id}}</td>
                <td class="text-danger">{{workOrder.cost}}</td>
            </tr>
        </tbody>
    </table> -->
</div>
