<div class="workorders">
    <h2 class="text-danger">Customer Work Orders</h2>
    <button (click)="goBack()" class="btn btn-danger text-dark">Back</button>
    <div class="row">
        <table class="wo-list">
            <thead class="text-center">
                <tr class="text-danger">
                    <!-- Insert Headers here  -->
                    <th scope="col">ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">VIN</th>
                    <th scope="col">Total Cost</th>
                </tr>
            </thead>
    
            
            <tbody class="text-center">
                <!-- insert data into here when you get it -->
                <tr *ngFor="let workorder of workorders" class="text-danger" routerLink="/viewOrder/{{workorder.id}}">
                    <td>{{workorder.id}}</td>
                    <td>{{workorder.vehicleId.customerId.firstName}} {{workorder.vehicleId.customerId.lastName}}</td>
                    <td>{{workorder.date}}</td>
                    <td>{{workorder.vehicleId.vin}}</td>
                    <td>${{workorder.cost}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>