<div class="row justify-content-center">
    <div class="col-6 text-center">
        <h4 class="mb-3">Work Order</h4>
        <input type="button" class="w-25 btn btn-primary" value="Back" (click)="goBack()">
        <input type="button" id="edit" class="w-25 btn btn-primary" value="Edit" routerLink="/updateOrder/{{workOrder.id}}">
        <div class="row g-3">
            <div class="col-sm-6" *ngIf="customer" routerLink="/viewCustomer/{{customer.id}}">
                <label for="customer" class="form-label h3">Customer</label>
                <p id="customer">{{ customer_name }}</p>
            </div>

            <div class="col-sm-6">
                <label for="vehicle" class="form-label h3">Vehicle</label>
                <p id="vehicle">{{ vehicle_descriptor }}</p>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-sm-6">
                <label for="start_date" class="form-label h3">Start Date</label>
                <p id="start_date">{{ start_date }}</p>
            </div>

            <div class="col-sm-6">
                <label for="cost" class="form-label h3">Cost</label>
                <p id="cost">${{ cost }}</p>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-sm-12">
                <label for="description" class="form-label h3">Description</label>
                <p id="description">{{ description }}</p>
            </div>
        </div>

        <div class="row g-3">
            <table class="col-sm-12 text-center">
                <tr>
                    <th class="h3">Parts</th>
                </tr>

                <tr *ngFor="let part of parts">{{ part.part.name }}   ${{ part.part.price }}</tr>
            </table>
        </div>
    </div>
</div>
