<div class="row text-center" *ngIf="customer">
  <div class="col-lg-12">
    <br>
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
    alt="Generic placeholder image" width="140" height="140">
    
    <h2 class="text-danger">{{customer.firstName}} {{customer.lastName}}</h2>
    <button class="btn btn-danger text-dark" routerLink="/customerTable">Back</button>


    <hr>
    <div class="table-responsive container-fluid">
      <h4 class="text-danger">Work Orders <button class="btn btn-danger text-dark" routerLink="/workorder">Add Work Order</button></h4>

      <table class="table table-striped table-sm ">
        <thead>
          <tr class="text-danger">
            <!-- Insert Headers here  -->
            <th scope="col">ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">Vehicle ID</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Completed</th>
          </tr>
        </thead>


        <tbody *ngIf="workOrder">
          <!-- insert data into here when you get it -->
          <tr class="text-danger" *ngFor="let workOrder of workOrder" routerLink="/viewOrder/{{workOrder.id}}">
            <td>{{workOrder.id}}</td>
            <td>{{workOrder.vehicleId.customerId.firstName}} {{workOrder.vehicleId.customerId.lastName}}</td>
            <td>{{workOrder.date}}</td>
            <td>{{workOrder.vehicleId.id}}</td>
            <td>{{workOrder.cost}}</td>
            <td>{{workOrder.complete}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /.col-lg-4 -->

  <hr>

  <div class="table-responsive container-fluid">
    <h4 class="text-danger display: flex;">Current Vehicles
      <button class="btn btn-danger text-dark" routerLink="/addVehicle">Add Vehicle</button>
    </h4>
    <table class="table table-striped table-sm ">
      <thead>
        <tr>
          <!-- Insert Headers here  -->
          <th scope="col">ID</th>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
          <th scope="col">Year</th>
          <th scope="col">mileage</th>

        </tr>
      </thead>


      <tbody *ngIf="vehicles">
        <!-- insert data into here when you get it -->
        <tr *ngFor="let vehicle of vehicles">
          <td>{{vehicle.id}}</td>
          <td>{{vehicle.make}}</td>
          <td>{{vehicle.model}}</td>
          <td>{{vehicle.year}}</td>
          <td>{{vehicle.mileage}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div *ngIf="!customer">Loading Customer...</div>