<div class="row justify-content-center">
    <div class="col-6 text-center">
        <h4 class="mb-3">Work Order</h4>
        <button (click)="goBack()">go back</button>
        <button (click)="save()">Save</button>
        <button (click)="reset()">Reset Changes</button>
        <button (click)="complete()">Complete WorkOrder</button>
        <div class="row g-3">
            <div class="col-sm-6" *ngIf="customer" routerLink="/viewCustomer/{{customer.id}}">
                <label for="customer" class="form-label h3">Customer</label>
                <p id="customer">{{ customer_name }}</p>
            </div>

            <div class="col-sm-6">
                <label for="vehicle" class="form-label h3">Vehicle</label>
                <p id="vehicle">{{ vehicle_descriptor }}</p>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-sm-6">
                <label for="start_date" class="form-label h3">Start Date</label>
                <p id="start_date">{{ start_date }}</p>
            </div>

            <div class="col-sm-6">
                <label for="cost" class="form-label h3">Cost</label>
                <p id="cost">${{ cost }}</p>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-sm-12">
                <label for="description" class="form-label h3">Description</label>
                <input type="text" id="description" value="{{ description }}">
            </div>
        </div>

        <div class="row g-3">
        	<label for='part-list'>Current Parts</label>
            <table class="part-list">
                <thead>
                    <tr>
                        <!-- Insert Headers here  -->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                
                <tbody>
                    <!-- insert data into here when you get it -->
                    <tr *ngFor="let part of parts">
                        <td>{{part.part.id}}</td>
                        <td>{{part.part.name}}</td>
                        <td>{{part.part.price}}</td>
                        <td>{{part.part.time}}</td>
                    </tr>
                </tbody>
			</table>
                
            <br>
            <br>
            <br>
            <br>
            <label for='add-parts'>Add Parts</label>
            <table class="add-parts">
                <tbody>
                    <!-- insert data into here when you get it -->
                    <tr *ngFor="let newpart of newparts" (click)="deletepart(newpart)">
                        <td>{{newpart.id}}</td>
                        <td>{{newpart.name}}</td>
                        <td>{{newpart.price}}</td>
                        <td>{{newpart.time}}</td>
                    </tr>
                </tbody>
            </table>
			<br>
            <div id="search-component">
                <label for="search-box">Part Search</label>
                <input #searchBox id="search-box" (input)="search(searchBox.value)" />
            
                <ul class="search-result">
                    <li *ngFor="let part of searchedparts | async" >
                        <button (click)="addpart(part)">{{part.name}}</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
